.page {
  
  width: 100vw;
  font-family: var(--font-geist-sans); 
  padding: 20px;
  display: flex;
  justify-content: center;
}

.mainContainer {
  
  /* border: 1px solid white; */
  height: 100vh;
  max-width: 1000px;
  width: 80%;
  display: flex;
}

.mainLeft {

  width: 35%;
}

.mainRight {
  
  width: 76%;
}

.hiContainer {
  display: flex;
  width: 100%;
  justify-content: left;
  align-items: center;
  gap: 30px;
  margin-top: 20px;
}

.socials {
  display: flex;
  gap: 10px;
  padding: 10px 0px 0px 0px;
}

.social a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;

}

.resumeLink {
  border: 1px solid white;
  padding: 10px;
  height: 30px !important;
  border-radius: 10px;
}

.hiImage {
  border-radius: 50%;
  box-shadow: 0px 0px 55px -5px rgba(109,36,130,0.85);
  border: 1px solid purple;
}

.hiHeader {
  font-size: 2.8em;
}

.briefDescription {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.name {
  margin: 20px 0px 20px 0px;
}

.name span {
  font-style: italic;
  /* border-bottom: 1px solid white; */
}

.shortDescription {
  width: 100%;
  color: rgb(159, 159, 159);
  margin-top: 15px;
}

.shortDescription span {
  color: rgb(224, 0, 224);
}

.role {
  display: flex;
  gap: 10px;
  padding: 0 0px 10px 0px;
  align-items: center;
  justify-content: left;
}
.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 400px;   /* optional */

  /* border: 2px solid #ddd; */
  border-radius: 8px;
  /* background: white; */
}

.track {
  display: flex;
  width: max-content;   /* let the content size naturally */
  animation: scroll 25s linear infinite; /* adjust 15s for speed */
  gap: 10px;
  padding: 10px 0px 10px 0px;
}

.skills h1 {
  margin: 20px 0px 10px 0px;
  padding-top: 10px;
  width: 100%;
  border-top: 1px solid white;
}



.skills h2 {
  font-size: 1.2em;
  font-weight: lighter;

}

.item1 {
  flex: 0 0 auto;
  text-align: center;
  padding: 3px 10px;
  font-size: 0.8em;
  font-weight: bold;
  color: #D279E3;
  box-shadow: 0px 0px 15px -5px #9C27B0;
  background-color: #9C27B0;

  border: 1px solid #9C27B0;
  border-radius: 7px;
}

.item3 {
  flex: 0 0 auto;
  text-align: center;
  padding: 3px 10px;
  font-size: 0.8em;
  font-weight: bold;
  color: #66B2FF;
  box-shadow: 0px 0px 15px -5px #0D6EFD;
  background-color: #0D6EFD;

  border: 1px solid #0D6EFD;
  border-radius: 7px;
}

.item2 {
  flex: 0 0 auto;
  text-align: center;
  padding: 3px 10px;
  font-size: 0.8em;
  font-weight: bold;
  color: #6EE68F;
  box-shadow: 0px 0px 15px -5px #1DB954;
  background-color: #1DB954;

  border: 1px solid #1DB954;
  border-radius: 7px;
}

/* Keyframes move entire track left continuously */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%); /* half of the duplicated list width */
  }
}
